main {
  max-width: 100vw;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

main div {
  overflow: hidden;
}

@media (min-width: 800px) {

  main {
    display: grid;
    grid-template-areas: 
      "aside div div div";
  }

}