<app-admin>
  <div class="container">
    <table class="responsive-table striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Fornecedor</th>
          <th>Marca</th>
          <th>Categoria</th>
          <th>FAQs</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let produto of produtos">
          <td >{{ produto.id }}</td>
          <td >{{ produto.nome }}</td>
          <td >{{ produto.precoUnitario | currency:'BRL':'symbol' }}</td>
          <td >{{ produto.fornecedor?.nome }}</td>
          <td >{{ produto.marca?.nome }}</td>
          <td >{{ produto.categoria?.nome }}</td>
          <td >{{ produto.faqs?.length || 0 }}</td>
        </tr>
        
      </tbody>
    </table>

    <app-produto-register></app-produto-register>
  </div>
</app-admin>
