<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo ">
      <img class="responsive-img" src="assets/logo.png" alt="Logo">
    </a>
    <app-loading></app-loading>
    <ul id="nav-mobile" class="right">
      <li><a routerLink="/produto">Produtos</a></li>
      <li>
        <a class="cart__link" routerLink="/carrinho">
          <i class="material-icons">shopping_cart</i>
        </a>
      </li>
      <li>
        <app-contador-carrinho></app-contador-carrinho>
      </li>
    </ul>
  </div>
</nav>