.cart {
  min-height: 70vh;
}

.cart__empty, .cart__empty blockquote {
  padding: 3rem 0;
}

.cart__item {
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 1fr;

  align-items: center;
}

.cart__item strong {
  margin: 0 1.3rem;
}

.cart__item:hover {
  background-color: rgb(242, 243, 243);
}