<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">.store</h5>
        <p class="grey-text text-lighten-4">
          Modelo simples de loja SPA construída em Angular@11 que consome dados de uma API RESTful desenvolvida em Spring Boot 2.3.4
        </p>
        <span>Admin? <a routerLink="/admin/fornecedores">Clique aqui</a>.</span>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/thiagojacinto/bootcamp-backend-spring">Projeto API</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/thiagojacinto/bootcamp-frontend-angular">Projeto SPA</a></li>
          <li><a class="grey-text text-lighten-3" href="https://tobiasahlin.com/spinkit/">Animação Loading by Tobias Ahlin</a></li>
          <li><a class="grey-text text-lighten-3" href="https://angular.io/docs">Documentação Angular</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Mozilla Public License 2.0 - Thiago Jacinto © 2020 
      <a class="grey-text text-lighten-4 right hoverable" href="https://github.com/thiagojacinto">GitHub</a>
    </div>
  </div>
</footer>
