<app-admin>
  <div class="container">
    <div class="admin-table">
      <table *ngIf="vendas.length; else conteudoVazio" class="responsive-table striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Valor</th>
            <th>Cliente</th>
            <th>Forma Pgto.</th>
            <th>Qtd. Items</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let venda of vendas">
            <td>{{ venda.id }}</td>
            <td>{{ venda.datahora | date:'longTime':'IST' }}</td>
            <td>{{ venda.valorTotal | currency: "BRL":"symbol" }}</td>
            <td>{{ venda.cliente?.nome }}</td>
            <td>{{ venda.formaPagamento?.forma }}</td>
            <td>{{ venda.itens?.length || 0 }}</td>
          </tr>
        </tbody>
      </table>

      <ng-template #conteudoVazio>
        <span class="container center-align">Não foi possível carregar as vendas.</span>
      </ng-template>
    </div>

  </div>
</app-admin>